@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Chakra+Petch:wght@400;600&family=Urbanist:wght@400;600&display=swap");
a {
  color: #82C0D9;
  text-decoration: none;
  position: relative;
}
a::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: pink;
}

h1, h2, h3 {
  font-family: "Bruno Ace SC", cursive;
  color: #F2E205;
}

p {
  color: #F9F6EE;
  font-size: 1.1rem;
}

/*
* Function to get media queries
* @param {number} $size - used to set a value for the media querie validation
* @param {boolean} $is-min-width - used to validate if the media querie is min-width or max-width
*/
/*
* Media querie to use Mobile only viewports
* between 320px and 767px
*/
/*
* Media querie to use Extra Large (1200px) and up viewports
* between 1200px and 9999px
*/
/*
* Media querie to use laptop (1024px) and up viewports
* between 1024px and 9999px
*/
/*
* Media querie to use tablet (768px) and up viewports
* between 768px and 9999px
*/
.supporting div[role=article]:last-of-type {
  margin: 200px 0 420px;
}
@media (width >= 768px) {
  .supporting div[role=article]:last-of-type {
    margin-bottom: 280px;
  }
}

div[role=article] {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 200px 0;
  position: relative;
  z-index: 2;
  text-align: justify;
}
@media (width >= 768px) {
  div[role=article] {
    margin: 70px 0;
  }
}
div[role=article] h3 {
  text-align: center;
}
@media (width >= 768px) {
  div[role=article] h3 {
    font-size: 2rem;
  }
}
div[role=article] p {
  margin-bottom: 1rem;
  line-height: 1.4;
}
@media (width >= 768px) {
  div[role=article] p {
    font-size: 1.5rem;
  }
}

.intro div[role=article]:first-of-type {
  margin-top: 245px;
}

.summary {
  transition: transform 2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  width: 100%;
}
.summary:hover {
  transform: translate(0);
}
.summary::before {
  background: url("assets/player_one.svg");
  content: "";
  top: 100%;
  left: 15%;
  position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px black);
  background-size: contain;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
}
@media (width >= 768px) {
  .summary::before {
    top: 0%;
    left: 0%;
  }
}
@media (width >= 768px) {
  .summary::before {
    opacity: 0.4;
  }
}
@media (width >= 768px) {
  .summary {
    height: 211px;
    width: 113px;
    width: 100%;
  }
}

.summary p {
  color: #82C0D9;
  font-size: 1.4em;
}

.preamble {
  transition: transform 2s;
}
.preamble::before {
  background: url("assets/player_two.svg");
  content: "";
  top: 100%;
  left: 15%;
  position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px black);
  background-size: contain;
  width: 200px;
  height: 200px;
  width: 150px;
  height: 170px;
  transform: rotate3d(1, -11, 1, -180deg);
}
@media (width >= 768px) {
  .preamble::before {
    top: 0%;
    left: 0%;
  }
}
@media (width >= 768px) {
  .preamble::before {
    left: 70%;
  }
}
.preamble:hover {
  transform: translate(0);
}

.explanation::before {
  background: url("assets/player_eight.svg");
  content: "";
  top: 100%;
  left: 15%;
  position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px black);
  background-size: contain;
  width: 200px;
  height: 200px;
  left: 15%;
  width: 110px;
  margin-top: 5%;
  height: 400px;
}
@media (width >= 768px) {
  .explanation::before {
    top: 0%;
    left: 0%;
  }
}

.participation::before {
  background: url("assets/player_six.svg");
  content: "";
  top: 100%;
  left: 15%;
  position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px black);
  background-size: contain;
  width: 200px;
  height: 200px;
  transform: rotate3d(1, -11, 1, -180deg);
}
@media (width >= 768px) {
  .participation::before {
    top: 0%;
    left: 0%;
  }
}
@media (width >= 768px) {
  .participation::before {
    left: 70%;
  }
}

.benefits::before {
  background: url("assets/player_seven.svg");
  content: "";
  top: 100%;
  left: 15%;
  position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px black);
  background-size: contain;
  width: 200px;
  height: 200px;
  height: 360px;
  width: 90px;
  margin-top: 3%;
}
@media (width >= 768px) {
  .benefits::before {
    top: 0%;
    left: 0%;
  }
}
.benefits:hover {
  transform: translate(0);
}

.requirements::before {
  content: "";
  top: 100%;
  left: 15%;
  position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px black);
  background-size: contain;
  width: 200px;
  height: 200px;
  right: 0;
  background: url("assets/player_five.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 180px;
  margin-top: 5%;
}
@media (width >= 768px) {
  .requirements::before {
    top: 0%;
    left: 0%;
  }
}
@media (width >= 768px) {
  .requirements::before {
    content: "";
    top: 100%;
    left: 15%;
    position: absolute;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 4px 6px black);
    background-size: contain;
    width: 200px;
    height: 200px;
    right: 0;
    background: url("assets/player_five.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (width >= 768px) and (width >= 768px) {
  .requirements::before {
    top: 0%;
    left: 0%;
  }
}
.requirements:hover {
  transform: translate(0);
}

@media (width >= 768px) {
  .preamble, .explanation, .participation, .benefits, .requirements {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.preamble h3, .preamble p {
  grid-column: 1/2;
}

.explanation h3, .explanation p {
  grid-column: 2/3;
}

.participation h3, .participation p {
  grid-column: 1/2;
}

.benefits h3, .benefits p {
  grid-column: 2/3;
}

.requirements h3, .requirements p {
  grid-column: 1/2;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
}
header h1 {
  font-size: 1.8rem;
  text-align: center;
  background: #F2E205;
  background: linear-gradient(to right, #F2E205 0%, #F20505 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slide-down 1s;
  margin: 0.5rem;
}
@media (width >= 768px) {
  header h1 {
    margin: 1rem;
    font-size: 3rem;
  }
}
header h2 {
  font-size: 1.4rem;
  text-align: center;
  animation: slide-up 1s;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.sidebar h3 {
  margin: 0;
  margin-bottom: 16px;
}
.sidebar ul {
  list-style-type: disclosure-closed;
  margin-left: 12px;
  padding-left: 12px;
}
.sidebar ul li {
  margin-bottom: 12px;
  color: #82C0D9;
}
.sidebar ul li a::after {
  background-color: #F20505;
}

.design-selection {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  padding: 20px;
  transition: transform 0.5s;
  background-color: #013440;
  top: 30%;
}
.design-selection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 30px;
  height: 30px;
  background: url("assets/brasil.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.design-selection:hover {
  transform: translateX(calc(0% - 38px));
  transition: transform 0.5s;
}
@media (width >= 768px) {
  .design-selection {
    top: 30%;
  }
}

.design-archives {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  padding: 20px;
  transition: transform 0.5s;
  background-color: #013440;
  top: 40%;
}
.design-archives::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 30px;
  height: 30px;
  background: url("assets/col.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.design-archives:hover {
  transition: transform 0.5s;
  transform: translateX(calc(0% - 38px));
}
@media (width >= 768px) {
  .design-archives {
    top: 40%;
  }
}

.zen-resources {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  padding: 20px;
  transition: transform 0.5s;
  background-color: #013440;
  top: 50%;
}
.zen-resources::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 30px;
  height: 30px;
  background: url("assets/usa.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.zen-resources:hover {
  transition: transform 0.5s;
  transform: translateX(calc(0% - 38px));
}
@media (width >= 768px) {
  .zen-resources {
    top: 50%;
  }
}

* {
  box-sizing: border-box;
}

h1, h2, p, span {
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  cursor: url("assets/soccer.png"), auto;
}

.page-wrapper {
  position: relative;
  width: 100%;
  background: #326508;
  background: radial-gradient(farthest-side at -33.33% 50%, rgba(0, 0, 0, 0) 52%, #3e6f17 54% 57%, rgba(0, 0, 0, 0) 59%) 0 20px, radial-gradient(farthest-side at 50% 133.33%, rgba(0, 0, 0, 0) 52%, #3e6f17 54% 57%, rgba(0, 0, 0, 0) 59%) 20px 0, radial-gradient(farthest-side at 133.33% 50%, rgba(0, 0, 0, 0) 52%, #3e6f17 54% 57%, rgba(0, 0, 0, 0) 59%), radial-gradient(farthest-side at 50% -33.33%, rgba(0, 0, 0, 0) 52%, #3e6f17 54% 57%, rgba(0, 0, 0, 0) 59%), #326508;
  background-size: 8.5708163703px 40px, 40px 8.5708163703px;
  padding: 35px 30px;
  outline: 5px solid #F9F6EE;
  outline-offset: -35px;
}
.page-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  outline: 5px solid #F9F6EE;
  background: #326508;
  border-radius: 50%;
  z-index: 2;
}
.page-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  width: calc(100% - 70px);
  height: 5px;
  background: #F9F6EE;
}
@media (width >= 768px) {
  .page-wrapper {
    padding: 35px 48px;
  }
}

header {
  left: 50%;
  outline: 5px solid #F9F6EE;
  transform: translateX(-50%);
  position: absolute;
  top: 35px;
  width: 50%;
  height: min(12%, 200px);
  background-color: #013440;
}

footer {
  left: 50%;
  outline: 5px solid #F9F6EE;
  transform: translateX(-50%);
  position: absolute;
  bottom: 35px;
  width: 50%;
  height: min(12%, 200px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #013440;
}
footer a {
  text-align: center;
  position: relative;
  width: 100%;
  color: #013440;
  font-weight: bold;
  background: linear-gradient(to right, #F2E205 0%, #F20505 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
}
footer a:hover {
  font-size: 1.9rem;
}
footer a::after {
  content: "";
  height: 0;
}/*# sourceMappingURL=style.css.map */