@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Chakra+Petch:wght@400;600&family=Urbanist:wght@400;600&display=swap");
a {
  color: #82C0D9;
  text-decoration: none;
  position: relative;
}
a::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: pink;
}

h1, h2, h3 {
  font-family: "Bruno Ace SC", cursive;
  color: #F2E205;
}

p {
  color: #F9F6EE;
  font-size: 1.1rem;
}

/*
* Function to get media queries
* @param {number} $size - used to set a value for the media querie validation
* @param {boolean} $is-min-width - used to validate if the media querie is min-width or max-width
*/
/*
* Media querie to use Mobile only viewports
*/
/*
* Media querie to use Extra Large (1200px) and up viewports
*/
/*
* Media querie to use laptop (1024px) and up viewports
*/
/*
* Media querie to use tablet (768px) and up viewports
*/
div[role=article] {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 70px 0;
  position: relative;
  z-index: 2;
  text-align: justify;
}
div[role=article] h3 {
  text-align: center;
}
div[role=article] p {
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.intro div[role=article]:first-of-type {
  margin-top: 245px;
}

.summary {
  transition: transform 2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  width: 100%;
}
.summary:hover {
  transform: translate(0);
}
.summary::before {
  background: url("assets/player_one.svg");
  content: "";
  top: 100%;
  position: absolute;
  background-size: 101%;
  height: 330px;
  width: 300px;
  background-repeat: no-repeat;
  left: 0;
}
@media (width >= 768px) {
  .summary {
    height: 211px;
    width: 113px;
    width: 100%;
  }
}

.summary p {
  color: #82C0D9;
  font-size: 1.4em;
}

.preamble {
  transition: transform 2s;
}
.preamble::before {
  background: url("assets/player_two.svg");
  content: "";
  top: 100%;
  position: absolute;
  background-size: 101%;
  height: 330px;
  width: 300px;
  background-repeat: no-repeat;
  width: 170px;
  transform: rotate3d(1, -11, 1, -180deg);
}
.preamble:hover {
  transform: translate(0);
}

.explanation::before {
  background: url("assets/player_eight.svg");
  content: "";
  top: 100%;
  position: absolute;
  background-size: 101%;
  height: 330px;
  width: 300px;
  background-repeat: no-repeat;
  left: 0;
}

.participation::before {
  background: url("assets/player_six.svg");
  content: "";
  top: 100%;
  position: absolute;
  background-size: 101%;
  height: 330px;
  width: 300px;
  background-repeat: no-repeat;
  right: 0;
  transform: rotate3d(1, -11, 1, -180deg);
}

.benefits::before {
  background: url("assets/player_seven.svg");
  content: "";
  top: 100%;
  position: absolute;
  background-size: 101%;
  height: 330px;
  width: 300px;
  background-repeat: no-repeat;
  left: 0;
}
.benefits:hover {
  transform: translate(0);
}

.requirements::before {
  content: "";
  top: 100%;
  position: absolute;
  background-size: 101%;
  height: 330px;
  width: 300px;
  background-repeat: no-repeat;
  right: 0;
  transform: rotate3d(1, -11, 1, -180deg);
}
.requirements:hover {
  transform: translate(0);
}

#zen-preamble, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.preamble h3, .preamble p {
  grid-column: 1/2;
}

.explanation h3, .explanation p {
  grid-column: 2/3;
}

.participation h3, .participation p {
  grid-column: 1/2;
}

.benefits h3, .benefits p {
  grid-column: 2/3;
}

.requirements h3, .requirements p {
  grid-column: 1/2;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
}
header h1 {
  font-size: 1.8rem;
  text-align: center;
  background: #F2E205;
  background: linear-gradient(to right, #F2E205 0%, #F20505 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slide-down 1s;
  margin: 0.5rem;
}
@media (width >= 768px) {
  header h1 {
    margin: 1rem;
    font-size: 3rem;
  }
}
header h2 {
  font-size: 1.4rem;
  text-align: center;
  animation: slide-up 1s;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
}

h1, h2, p, span {
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  cursor: url("assets/soccer.png"), auto;
}

.page-wrapper {
  position: relative;
  width: 100%;
  background: #326508;
  background: radial-gradient(farthest-side at -33.33% 50%, rgba(0, 0, 0, 0) 52%, #3e6f17 54% 57%, rgba(0, 0, 0, 0) 59%) 0 20px, radial-gradient(farthest-side at 50% 133.33%, rgba(0, 0, 0, 0) 52%, #3e6f17 54% 57%, rgba(0, 0, 0, 0) 59%) 20px 0, radial-gradient(farthest-side at 133.33% 50%, rgba(0, 0, 0, 0) 52%, #3e6f17 54% 57%, rgba(0, 0, 0, 0) 59%), radial-gradient(farthest-side at 50% -33.33%, rgba(0, 0, 0, 0) 52%, #3e6f17 54% 57%, rgba(0, 0, 0, 0) 59%), #326508;
  background-size: 8.5708163703px 40px, 40px 8.5708163703px;
  padding: 35px 30px;
  outline: 5px solid #F9F6EE;
  outline-offset: -35px;
}
.page-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  outline: 5px solid #F9F6EE;
  background: #326508;
  border-radius: 50%;
  z-index: 2;
}
.page-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  width: calc(100% - 70px);
  height: 5px;
  background: #F9F6EE;
}
@media (width >= 768px) {
  .page-wrapper {
    padding: 35px 48px;
  }
}

header {
  left: 50%;
  outline: 5px solid #F9F6EE;
  transform: translateX(-50%);
  position: absolute;
  top: 35px;
  width: 50%;
  height: min(12%, 200px);
}

footer {
  left: 50%;
  outline: 5px solid #F9F6EE;
  transform: translateX(-50%);
  position: absolute;
  bottom: 35px;
  width: 50%;
  height: min(12%, 200px);
}/*# sourceMappingURL=style.css.map */