@use "variables" as *;
@use "atoms";

.supporting {
  div[role="article"] {
    &:last-of-type {
      margin: 200px 0 420px;

      @include atoms.tablet-and-up {
        margin-bottom: 280px;
      }
    }
  }
  
}

div[role="article"] {
  background: rgb(0 0 0 / 30%);
  padding: 20px;
  margin: 200px 0;
  position: relative;
  z-index: 2;
  text-align: justify;
  
  @include atoms.tablet-and-up {
    margin: 70px 0;
  }

  h3 {
    text-align: center;

    @include atoms.tablet-and-up {
      font-size: 2rem;
    }
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.4;

    @include atoms.tablet-and-up {
      font-size: 1.5rem;
    }
  }
}

.intro {
  div[role="article"] {
    &:first-of-type {
      margin-top: 245px;
    }
  }
}

@mixin before-player {
  content: "";
  top: 100%;
  left: 15%;
  position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px black);
  background-size: contain;
  width: 200px;
  height: 200px;
  
  @include atoms.tablet-and-up {
    top: 0%;
    left: 0%;
  }
}

.summary {
  transition: transform 2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: $fonts-subtitle;
  width: 100%;
  
  &:hover {
    transform: translate(0);
  }

  &::before {
    background: url("assets/player_one.svg");
    @include before-player();
    left: 50%;
    transform: translateX(-50%);
    
    @include atoms.tablet-and-up { 
      opacity: 0.4;
    }

  }
  
  @include atoms.tablet-and-up {
    height: 211px;
    width: 113px;
    width: 100%;
  }
}

.summary p {
  color: #82C0D9;
  font-size: 1.4em;
}

.preamble{
  transition: transform 2s; 

  &::before {
    background: url("assets/player_two.svg");
    @include before-player();
    width: 150px;
    height: 170px;
    transform: rotate3d(1, -11, 1, -180deg);

    @include atoms.tablet-and-up {
      left: 70%;
    }
  }

  &:hover {
    transform: translate(0);
  }
}

.explanation{
  &::before {
    background: url("assets/player_eight.svg");
    @include before-player();
    left: 15%;
    width:110px;
    margin-top: 5%;
    height: 400px;
  }
}

.participation{
  &::before {
    background: url("assets/player_six.svg");
    @include before-player();
    transform:  rotate3d(1, -11, 1, -180deg);

    @include atoms.tablet-and-up {
      left: 70%;
    }
  }
}

.benefits{

  &::before {
    background: url("assets/player_seven.svg");
    @include before-player();
    height: 360px;
    width: 90px;
    margin-top: 3%;
  }

  &:hover {
    transform: translate(0);
  }
}

.requirements{
  &::before {
    @include before-player();
    right: 0;
    background: url("assets/player_five.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    margin-top: 5%;
  }
  
  @include atoms.tablet-and-up {
    &::before {
      @include before-player();
      right: 0;
      background: url("assets/player_five.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &:hover {
    transform: translate(0);
  }
}

